<div class="container">
  <div class="card m-3 align-self-center">
    <div class="card-header">
      Calculator RCA
    </div>

    <div class="card-footer mt-3"  *ngFor="let activeCategory of activeCategories; index as i">
      <div *ngIf="showFlag">
      <div class="row">{{activeCategory.title}}
      </div>
      <div class="btn-group-toggle row" data-toggle="buttons" role="group" >
        <label class="btn btn-secondary" (click)="nextElement($event, i, pId)" *ngFor="let property of activeCategory.properties; index as pId">
            <input type="radio" name="{{property.id}}">{{property.title}}
            </label>
      </div>
      </div>
    </div>
    <input *ngIf="visible" type="submit" class="btn btn-secondary row mb-3" (click)="createOrder()" value="Calculeaza">
  </div>
</div>
