<div class="container">
<div class="row">
  <div class="col-11">
    <label class="sr-only" for="inlineFormInput">Name</label>
    <input type="text" class="form-control mb-2" [(ngModel)]="title" id="inlineFormInput" placeholder="Category name">
  </div>
  <div class="col-1">
    <button type="submit" class="btn btn-primary mb-2" (click)=myEvent()>Add</button>
  </div>
</div>

  <div id="Error" style="display: none" class="alert alert-danger">{{error}}</div>
  </div>
<div class="container my-3" xmlns:odd="http://www.w3.org/1999/xhtml">
    <table class="table table-bordered table-hover table-sm table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>

      <tbody *ngIf=categories>
      <tr *ngFor="let category of categories; let item=index">
        <td>{{item + 1 }}</td>
        <td>{{ category.title }}<span *ngIf=category.deleted class="deleted">DELETED</span></td>
        <td>
          <button class="btn btn-primary btn-sm" title="edit category"
                  (click)="edit(category.id)"
          >
            Edit
          </button>
        </td>
        <td>
          <button class="btn btn-danger btn-sm" title="delete category"
          (click)="delete(item)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
</div>
