<div class="container">
  <div class="card mt-3">
    <div class="card-header" style="font-size: 36px;">
      Edit: {{ user.userName }}
    </div>

    <div class="card-body">
      <form>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="usernameInput">Username</label>
              <input
                type="text"
                class="form-control"
                placeholder="Username"
                name="usernameInput"
                id="usernameInput"
                [(ngModel)]="user.userName"
              >
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label for="firstnameInput">First name</label>
              <input
                type="text"
                class="form-control"
                placeholder="First name"
                name="firstnameInput"
                id="firstnameInput"
                [(ngModel)]="user.firstName"
              >
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label for="lastnameInput">Last name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Last name"
                name="lastnameInput"
                id="lastnameInput"
                [(ngModel)]="user.lastName"
              >
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <div
              class="form-check"
              *ngFor="let role of roles; let i = index"
            >
              <input
                type="checkbox"
                class="form-check-input"
                name="role{{role.name}}"
                id="role{{role.name}}"
                [(ngModel)]="roles[i].checked"
              >
              <label for="role{{role.name}}" class="form-check-label">{{role.name}}</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <button
              class="btn btn-secondary btn-block"
              (click)="router.navigateByUrl('/admin/users')"
            >
              Cancel
            </button>
          </div>

          <div class="col-10">
            <button
              class="btn btn-primary btn-block"
              (click)="updateEmployee()"
            >
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
