
<div class="container">
  <div class="m-3 align-self-center">

    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a
          class="nav-item nav-link"
          (click)="activeTab='calculator'"
          [ngClass]="{'active':activeTab==='calculator'}"
          id="nav-calculator-tab"
          data-toggle="tab"
          href="#nav-calculator"
          role="tab"
          aria-controls="nav-calculator"
          aria-selected="true"
        >
          Calculator
        </a>
        <a
          *ngIf="calculated"
          class="nav-item nav-link"
          [ngClass]="{'active':activeTab==='order'}"
          id="nav-order-tab"
          data-toggle="tab"
          href="#nav-order"
          role="tab"
          aria-controls="nav-order"
          aria-selected="false"
        >
          Finalizarea
        </a>
      </div>
    </nav>

    <!-- Tab content -->
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade" [ngClass]="{'show active':activeTab==='calculator'}" id="nav-calculator"
           role="tabpanel" aria-labelledby="nav-calculator-tab">
        <form (ngSubmit)="getPrice()">
          <div class="card-footer mt-3 form-group" *ngFor="let category of displayedCategories; index as i">
            <div *ngIf="showFlag">
              <div class="row">{{category.title}}
              </div>
              <div class="btn-group-toggle row" data-toggle="buttons" role="group">
                <label class="btn btn-secondary" (click)="nextElement($event, i, pId)"
                       *ngFor="let property of category.properties; index as pId">
                  <input type="radio" name="{{property.id}}">{{property.title}}
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button
                *ngIf="visible"
                type="submit"
                class="btn btn-secondary row mb-3"
                data-toggle="modal"
                data-target="#priceModal"
                (click)="calculated = true"
              >
                Calculează
              </button>
            </div>
          </div>
        </form>
      </div>

      <div
        class="tab-pane fade"
        [ngClass]="{'show active':activeTab==='order'}"
        id="nav-order"
        role="tabpanel"
        aria-labelledby="nav-order-tab"
      >
        <form
          #orderForm="ngForm"
          (ngSubmit)="orderForm.form.valid && postOrder()"
          class="mt-3"
          name="orderForm"
          novalidate
        >
          <div class="row">
            <div class="col">
              <label for="firstNameInput">Nume</label>
              <input
                type="text"
                name="firstNameInput"
                id="firstNameInput"
                class="form-control"
                placeholder="Nume"
                [(ngModel)]="order.firstName"
                #firstName="ngModel"
                [ngClass]="{ 'is-invalid': orderForm.submitted && firstName.invalid }"
                maxlength="25"
                minlength="2"
                pattern="([a-zA-Z]{2,25})"
                required
              >
              <div
                *ngIf="orderForm.submitted && firstName.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="firstName.errors.required">
                  Numele este necesar!
                </div>

                <div *ngIf="firstName.errors.minlength">
                  Numele trebuie să conțină cel puțin 2 caractere!
                </div>

                <div *ngIf="firstName.errors.maxlength">
                  Numele trebuie să conțină cel mult 25 de caractere!
                </div>

                <div *ngIf="firstName.errors.pattern">
                  Nume incorect!
                </div>
              </div>
            </div>

            <div class="col">
              <label for="lastNameInput">Prenume</label>
              <input
                type="text"
                name="lastNameInput"
                id="lastNameInput"
                class="form-control"
                placeholder="Prenume"
                [(ngModel)]="order.lastName"
                #lastName="ngModel"
                [ngClass]="{ 'is-invalid': orderForm.submitted && firstName.invalid }"
                maxlength="25"
                minlength="2"
                pattern="([a-zA-Z]{2,25})"
                required
              />
              <div
                *ngIf="orderForm.submitted && lastName.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="lastName.errors.required">
                  Prenumele este necesar!
                </div>

                <div *ngIf="lastName.errors.minlength">
                  Prenumele trebuie să conțină cel puțin 2 caractere!
                </div>

                <div *ngIf="lastName.errors.maxlength">
                  Prenumele trebuie să conțină cel mult 25 de caractere!
                </div>

                <div *ngIf="lastName.errors.pattern">
                  Prenume incorect!
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col">
              <label for="idnpInput">IDNP</label>
              <input
                type="text"
                name="idnpInput"
                id="idnpInput"
                class="form-control"
                placeholder="IDNP"
                [(ngModel)]="order.idnp"
                #idnp="ngModel"
                [ngClass]="{ 'is-invalid': orderForm.submitted && idnp.invalid }"
                maxlength="13"
                minlength="13"
                pattern="([0-9]{13})"
                required
              >
              <div
                *ngIf="orderForm.submitted && idnp.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="idnp.errors.required">
                  IDNP este necesar!
                </div>

                <div *ngIf="idnp.errors.minlength">
                  IDNP trebuie să conțină 13 cifre!
                </div>

                <div *ngIf="idnp.errors.maxlength">
                  IDNP trebuie să conțină 13 cifre!
                </div>

                <div *ngIf="idnp.errors.pattern">
                  IDNP incorect!
                </div>
              </div>
            </div>

            <div class="col">
              <label for="rightOfPossesionInput">Dreptul de posesiune al autovehiculului</label>
              <select
                name="rightOfPossesionInput"
                id="rightOfPossesionInput"
                class="form-control"
                [(ngModel)]="order.rightOfPossesion"
                #rightOfPossession="ngModel"
                [ngClass]="{ 'is-invalid': orderForm.submitted && order.rightOfPossesion === '' }"
                required
              >
                <option hidden value="">Alegeți dreptul de posesiune</option>
                <option *ngFor="let right of rightOfPossesionList" [ngValue]="right">
                  {{right}}
                </option>
              </select>
              <div
                *ngIf="orderForm.submitted && order.rightOfPossesion === ''"
                class="invalid-feedback"
              >
                Dreptul de posesiune este necesar!
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col">
              <label for="docNumberInput">Numărul certificatului de înmatriculare</label>
              <input #docNumber="ngModel"
                     name="docNumberInput"
                     id="docNumberInput"
                     class="form-control"
                     placeholder="Numărul certificatului de înmatriculare"
                     [(ngModel)]="order.docNumber"
                     [ngClass]="{ 'is-invalid': orderForm.submitted && docNumber.invalid }"
                     maxlength="9"
                     minlength="9"
                     pattern="([0-9]{9})"
                     required
                     type="text"
              >
              <div
                *ngIf="orderForm.submitted && docNumber.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="docNumber.errors.required">
                  Numărul certificatului de înmatriculare este necesar!
                </div>

                <div *ngIf="docNumber.errors.minlength">
                  Numărul certificatului de înmatriculare trebuie să conțină 9 cifre!
                </div>

                <div *ngIf="docNumber.errors.maxlength">
                  Numărul certificatului de înmatriculare trebuie să conțină 9 cifre!
                </div>

                <div *ngIf="docNumber.errors.pattern">
                  Numărul certificatului de înmatriculare este incorect!
                </div>
              </div>
            </div>

            <div class="col">
              <label for="licencePlateNumberInput">Numărul de înmatriculare</label>
              <input
                type="text"
                name="licencePlateNumberInput"
                id="licencePlateNumberInput"
                #licencePlateNumber="ngModel"
                placeholder="Numărul de înmatriculare"
                [(ngModel)]="order.licensePlateNumber"
                [ngClass]="{ 'is-invalid': orderForm.submitted && licencePlateNumber.invalid }"
                class="form-control text-uppercase"
                maxlength="8"
                minlength="3"
                pattern="[a-z]{2,4} [0-9]{3,4}"
                required
              >
              <div
                *ngIf="orderForm.submitted && licencePlateNumber.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="licencePlateNumber.errors.required">
                  Numărul de înmatriculare este necesar!
                </div>

                <div *ngIf="licencePlateNumber.errors.minlength">
                  Numărul de înmatriculare trebuie să conțină cel puțin 5 caractere!
                </div>

                <div *ngIf="licencePlateNumber.errors.maxlength">
                  Numărul de înmatriculare trebuie să conțină cel mult 8 caractere!
                </div>

                <div *ngIf="licencePlateNumber.errors.pattern">
                  Numărul de înmatriculare este incorect!
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <label for="emailInput">E-mail</label>
              <input type="email"
                     name="emailInput"
                     id="emailInput"
                     class="form-control"
                     placeholder="E-mail"
                     [(ngModel)]="order.email"
                     #email="ngModel"
                     [ngClass]="{ 'is-invalid': orderForm.submitted && email.invalid }"
                     pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                     required
              >
              <div
                *ngIf="orderForm.submitted && email.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="email.errors.required">
                  E-mail este necesar!
                </div>

                <div *ngIf="email.errors.pattern">
                  E-mail este incorect!
                </div>
              </div>
            </div>

            <div class="col">
              <label for="phoneNumberInput">Numărul de telefon</label>
              <input
                type="text"
                name="phoneNumberInput"
                id="phoneNumberInput"
                class="form-control"
                placeholder="Numărul de telefon"
                [(ngModel)]="order.phoneNo"
                #phoneNo="ngModel"
                [ngClass]="{ 'is-invalid': orderForm.submitted && phoneNo.invalid }"
                maxlength="9"
                minlength="9"
                pattern="([0])([2-3]|[5-9])([0-9]{7})"
                required
              >
              <div
                *ngIf="orderForm.submitted && phoneNo.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="phoneNo.errors.required">
                  Numărul de telefon este necesar!
                </div>

                <div *ngIf="phoneNo.errors.minlength">
                  Numărul de telefon trebuie să conțină 9 cifre!
                </div>

                <div *ngIf="phoneNo.errors.maxlength">
                  Numărul de telefon trebuie să conțină 9 cifre!
                </div>

                <div *ngIf="phoneNo.errors.pattern">
                  Numărul de telefon este incorect!
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col">
              <button
                [disabled]="ordered"
                class="btn btn-primary"
              >
                Confirmă
              </button>
              <div *ngIf="ordered" class="spinner-border ml-2" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Price Modal -->
<div class="modal fade" id="priceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Prețul total</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="badge badge-primary text-wrap"
             *ngIf="priceFlag"
             style="width: 100%; font-size: 72px;"
        >
          {{price}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Închide</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="activeTab = 'order'">Următorul
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Success Modal -->
<div aria-hidden="true" aria-labelledby="successModalLabel" class="modal fade" data-backdrop="static" id="successModal"
     role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Succes!</h5>
      </div>
      <div class="modal-body">
        <div class="alert-success">
          Comanda dumneavoastră a fost plasată cu succes!
        </div>
      </div>
      <div class="modal-footer">
        <button
          (click)="router.navigateByUrl('/')"
          class="btn btn-primary btn-sm"
          data-dismiss="modal"
          type="button"
        >
          Înapoi la pagina principală
        </button>
      </div>
    </div>
  </div>
</div>
