<div class="container mt-3">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-pending-tab" data-toggle="tab" href="#nav-pending" role="tab"
       aria-controls="nav-pending" aria-selected="true">Pending orders</a>
    <a class="nav-item nav-link" id="nav-history-tab" data-toggle="tab" href="#nav-history" role="tab"
       aria-controls="nav-history" aria-selected="false">History</a>
  </div>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-pending" role="tabpanel" aria-labelledby="nav-pending-tab">
      <div class="d-flex flex-row flex-wrap">
        <div class="card card-block col-md-4 my-2" *ngFor="let order of pendingOrders | paginate: { itemsPerPage: 9, currentPage: p1, id: 'first' }">
          <div class="card-header mt-3">
            <div class="card-text">Nr. comenzii: {{order.id}}</div>
          </div>

          <div class="card-body">
            <dl class="row">
              <dt class="col">Persoana:</dt>
              <dd class="col">{{order.firstName}} {{order.lastName}}</dd>
            </dl>
            <dl class="row">
              <dt class="col">Prețul total:</dt>
              <dd class="col">{{order.price}}</dd>
            </dl>
          </div>

          <div class="card-footer mb-3" style="color: darkorange">
            <div class="card-text float-left">{{order.status}}</div>
            <div class="float-right">
              <button
                class="btn btn-primary btn-sm"
                data-toggle="modal"
                data-target="#exampleModal"
                (click)="getOrderDetails(order.id)"
              >
                Detalii
              </button>
            </div>
          </div>
        </div>

      </div>
      <pagination-controls id="first" (pageChange)="p1 = $event"></pagination-controls>
    </div>

    <div class="tab-pane fade mt-3" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
      <nav>
        <div class="nav nav-tabs" id="nav-historyTabs" role="tablist">
          <a class="nav-item nav-link active" id="nav-approved-tab" data-toggle="tab" href="#nav-approved" role="tab" aria-controls="nav-approved" aria-selected="true">Approved</a>
          <a class="nav-item nav-link" id="nav-declined-tab" data-toggle="tab" href="#nav-declined" role="tab" aria-controls="nav-declined" aria-selected="false">Declined</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-historyContent">
        <div class="tab-pane fade show active" id="nav-approved" role="tabpanel" aria-labelledby="nav-approved-tab">
          <div class="d-flex flex-row flex-wrap">
            <div class="card card-block col-md-4 my-2" *ngFor="let order of approvedOrders | paginate: { itemsPerPage: 9, currentPage: p2, id: 'second' }">
              <div class="card-header mt-3">
                <div class="card-text">Nr. comenzii: {{order.id}}</div>
              </div>

              <div class="card-body">
                <dl class="row">
                  <dt class="col">Persoana:</dt>
                  <dd class="col">{{order.firstName}} {{order.lastName}}</dd>
                </dl>
                <dl class="row">
                  <dt class="col">Prețul total:</dt>
                  <dd class="col">{{order.price}}</dd>
                </dl>
              </div>

              <div class="card-footer mb-3" style="color: green">
                <div class="card-text float-left">{{order.status}}</div>
                <div class="float-right">
                  <button
                    class="btn btn-primary btn-sm"
                    data-toggle="modal"
                    data-target="#exampleModal"
                    (click)="getOrderDetails(order.id)"
                  >
                    Detalii
                  </button>
                </div>
              </div>
            </div>

          </div>
          <pagination-controls id="second" (pageChange)="p2 = $event"></pagination-controls>
        </div>

        <div class="tab-pane fade" id="nav-declined" role="tabpanel" aria-labelledby="nav-declined-tab">
          <div class="d-flex flex-row flex-wrap">
            <div class="card card-block col-md-4 my-2" *ngFor="let order of declinedOrders | paginate: { itemsPerPage: 9, currentPage: p3, id: 'third' }">
              <div class="card-header mt-3">
                <div class="card-text">Nr. comenzii: {{order.id}}</div>
              </div>

              <div class="card-body">
                <dl class="row">
                  <dt class="col">Persoana:</dt>
                  <dd class="col">{{order.firstName}} {{order.lastName}}</dd>
                </dl>
                <dl class="row">
                  <dt class="col">Prețul total:</dt>
                  <dd class="col">{{order.price}}</dd>
                </dl>
              </div>

              <div class="card-footer mb-3" style="color: red">
                <div class="card-text float-left">{{order.status}}</div>
                <div class="float-right">
                  <button
                    class="btn btn-primary btn-sm"
                    data-toggle="modal"
                    data-target="#exampleModal"
                    (click)="getOrderDetails(order.id)"
                  >
                    Detalii
                  </button>
                </div>
              </div>
            </div>

          </div>
          <pagination-controls id="third" (pageChange)="p3 = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalii despre comandă</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <dl class="row">
            <dt class="col">Comanda nr:</dt>
            <dd class="col">{{orderDetails.id}}</dd>
          </dl>
          <dl class="row">
            <dt class="col">Persoana:</dt>
            <dd class="col">{{orderDetails.firstName}} {{orderDetails.lastName}}</dd>
          </dl>
          <dl class="row">
            <dt class="col">Nr. certificatului de înmatriculare:</dt>
            <dd class="col">{{orderDetails.docNumber}}</dd>
          </dl>
          <dl class="row">
            <dt class="col">Nr. de înmatriculare:</dt>
            <dd class="col">{{orderDetails.licensePlateNumber}}</dd>
          </dl>
          <dl class="row">
            <dt class="col">IDNP:</dt>
            <dd class="col">{{orderDetails.idnp}}</dd>
          </dl>
          <dl class="row">
            <dt class="col">Dreptul de posesiune:</dt>
            <dd class="col">{{orderDetails.rightOfPossesion}}</dd>
          </dl>
          <dl class="row">
            <dt class="col">Status:</dt>
            <dd class="col" [ngStyle]="getStatusStyle()">{{orderDetails.status}}</dd>
          </dl>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="declineOrder()"
        >
          Decline
        </button>
        <button
          type="button"
          class="btn btn-success"
          data-dismiss="modal"
          (click)="approveOrder()"
        >
          Approve
        </button>
      </div>
    </div>
  </div>
</div>
