<div class="d-flex justify-content-center">
<div class="card align-self-center">
  <div class="card-header">
    <div class="alert alert-danger" role="alert">
     <span class="d-flex justify-content-center" style="font-size: 3rem; text-align: center;line-height:1em;">404</span><br>
     <span class="d-flex justify-content-center" style="font-size: 3rem; text-align: center;line-height:1em;">page not found</span>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">Hey Dude , here is a joke .. lmao.. </h5>
    <p class="card-text">Sticks and stones may break your bones, but a Chuck Norris glare will liquefy your kidneys.</p>
    <a href="" class="btn btn-primary">Go home</a>
  </div>
</div>
</div>