<div class="container">
  <div class="card my-3">
      <div class="card-header">
        {{ operation }} insurance product
      </div>
  
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-5">
              <input
                class="form-control"
                type="text"
                placeholder="new insurance"
                name="newInsurance"
                id="newInsurance"
                [(ngModel)]="title"
              />          
            </div>
            <div class="col-3">
              <input
                class="form-control"
                type="number"
                placeholder="Base price"
                name="basePriceInput"
                id="basePriceInput"
                [(ngModel)]="basePrice"
              />
            </div>
            <div class="col-2">
              <button 
                class="form-control btn btn-secondary dropdown-toggle" 
                type="button" 
                id="dropdownMenuButton" 
                data-toggle="dropdown" 
                aria-haspopup="true" 
                aria-expanded="false" 
                name="statusInput" 
                id="statusInput" >
                {{status}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="updStatus('ACTIVE')">ACTIVE</a>
                <a class="dropdown-item" (click)="updStatus('DELETED')">DELETED</a>
              </div>
            </div>
            <div class="col-2">
              <button
                class="form-control btn btn-primary btn-sm"
                (click)="saveInsurance()" >
                {{ action }}
              </button>
            </div>
            <div id="Error" style="display: none" class="alert alert-danger col-12">{{error}}</div>
            <div id="Succes" style="display: none" class="alert alert-success col-12">{{succes}}</div>
          </div>
        </form>
      </div>
  </div>





    <table class="table table-bordered table-hover table-sm table-striped mt-3">
      <thead>
      <tr>
        <th>Id</th>
        <th>Insurance</th>
        <th>Base price</th>
        <th class="text-center">Edit</th>
        <th class="text-center">Delete</th>
      </tr>
      </thead>

      <tbody *ngIf=insurances>
      <tr *ngIf="insurances === undefined || insurances.length === 0">
        <td class="text-center" colspan="5">
          No insurances.
        </td>
      </tr>
      <tr *ngFor="let insurance of insurances; let item=index">
        <td>{{item + 1 }}</td>
        <td>{{ insurance.title }} <span *ngIf=insurance.deleted class="deleted">DELETED</span> </td>
        <td>{{ insurance.basePrice }}</td>
        <td width="80" align="center">
          <button class="btn btn-primary btn-sm" title="edit category"
                  (click)="editInsurance(item)">Edit</button>
        </td>
        <td width="100" align="center">
          <button class="btn btn-danger btn-sm" title="delete category"
          (click)="deleteInsurance(item)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
</div>
