/* You can add global styles to this file, and also import other style files */
.btn-secondary {
  background-color: aliceblue;
  color: black;
  margin: 2px;
}





.transparent-input {
  background-color: transparent;
  border: 0 solid;
  cursor: pointer;
}
