<div class="container">
  <div class="form-row align-items-center">
    <div class="col-md">
      <label class="sr-only" for="category.title">Category:</label>
      <input type="text" class="form-control mb-2" [(ngModel)]="category['title']" id="category.title" placeholder="upd ">
    </div>
    <div class="col-md">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ category.status==2?"DELETED":"ACTIVE" }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="updStatus(1)">ACTIVE</a>
          <a class="dropdown-item" (click)="updStatus(2)">DELETED</a>
        </div>
      </div>
      <div class="valid-feedback">
        Category update successfully!
      </div>
      <div class="invalid-feedback">
        Fail to update category!
      </div>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2" (click)=updCategory()>Update</button>
    </div>
  </div>
  <p>Add property:</p>
</div>

<div class="container">
  <div class="form-row align-items-center">
    <div class="col-md">
      <label class="sr-only" for="titleInput">Title</label>
      <input type="text" class="form-control mb-2" [(ngModel)]="title" id="titleInput" placeholder="Property name">
    </div>
    <div class="col-md">
      <label class="sr-only" for="coefficientInput">Coefficient</label>
      <input type="text" class="form-control mb-2" [(ngModel)]="coefficient" id="coefficientInput" placeholder="coefficient value">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2" (click)=saveProperty()>Add</button>
    </div>
  </div>
</div>
<div class="container" *ngIf=category.properties >
  <div class="row" *ngFor="let property of category.properties; let id = index let even = even;let odd = odd" [ngClass]={even:even,odd:odd}>

    <div class="col-1">
      {{ id + 1 }}
    </div>
    <div class="col-md">
      <a >{{ property.title }} <span *ngIf=property.status style="color:red"> {{property.status}} </span></a>
    </div>
    <div class="col-md">
      <a >{{ property.coefficient }}</a>
    </div>
    <div class="col-auto">
      <button class="edit" title="edit category"
              (click)="edit(property.id)">edit</button>
    </div>
    <div class="col-auto">
      <button class="delete" title="delete category"
              (click)="delete(id)">del</button>
    </div>
  </div>
</div>


