<div class="container">
  <div class="form-row align-items-center">
    <div class="col-md">
      <label class="sr-only" for="category.title">Category:</label>
      <input type="text" class="form-control mb-2"  [(ngModel)]="category['title']" id="category.title" placeholder="update ">
    </div>

    <div class="col-md">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ category.status==2?"DELETED":"ACTIVE" }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="updStatus(1)">ACTIVE</a>
          <a class="dropdown-item" (click)="updStatus(2)">DELETED</a>
        </div>
      </div>
      <div class="valid-feedback">
        Category update successfully!
      </div>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2" (click)=updCategory()>Update</button>
    </div>
  </div>
  <div id="Error" style="display: none" class="alert alert-danger">{{error}}</div>
  <p>Add property:</p>
</div>


<div class="container">
  <div class="form-row align-items-center">
    <div class="col-md">
      <label class="sr-only" for="titleInput">Title</label>
      <input type="text" class="form-control mb-2" [(ngModel)]="title" id="titleInput" placeholder="Property name">
    </div>
    <div class="col-md">
      <label class="sr-only" for="coefficientInput">Coefficient</label>
      <input type="text" class="form-control mb-2" [(ngModel)]="coefficient" id="coefficientInput" placeholder="coefficient value">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2" (click)=saveProperty()>Add</button>
    </div>
  </div>
  <div id="AddError" style="display: none" class="alert alert-danger">{{error}}</div>
</div>
<div class="container">
  <div class="row">
  </div>
</div>
<div class="container my-3" xmlns:odd="http://www.w3.org/1999/xhtml" *ngIf="category.properties?.length > 0" >
  <table class="table table-bordered table-hover table-sm table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Property</th>
      <th>Coefficient</th>
      <th class="text-center">Edit</th>
      <th class="text-center">Delete</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let property of category.properties; let id = index">
      <td>{{id + 1 }}</td>
      <td>{{ property.title }}<span *ngIf="property.deleted" style="color:red"> DELETED </span></td>
      <td>{{property.coefficient}}</td>
      <td width="80" align="center">
        <button class="btn btn-primary btn-sm" title="edit category"
                (click)="edit(property.id)">Edit</button>
      </td>
      <td width="100" align="center">
        <button class="btn btn-danger btn-sm" title="delete category"
                (click)="delete(id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


